<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <div class="app-header">
        <h2>Editar Perfil</h2>
    </div>
    <div class="app-content">
        <form class="profile-form" (ngSubmit)="updateProfile()">
            <!-- Nombre -->
            <div class="form-group">
                <label for="name">
                    <i class="uil uil-user"></i> Nombre
                </label>
                <input type="text" id="name" [(ngModel)]="user.nombre" name="name" placeholder="Ingresa tu nombre">
            </div>

            <!-- Dirección -->
            <div class="form-group">
                <label for="address">
                    <i class="uil uil-map-marker"></i> Dirección
                </label>
                <input type="text" id="address" [(ngModel)]="user.direccion" name="address" placeholder="Ingresa tu dirección">
            </div>

            <!-- Número de teléfono -->
            <div class="form-group">
                <label for="phone">
                    <i class="uil uil-phone"></i> Número de teléfono
                </label>
                <input type="tel" id="phone" [(ngModel)]="user.telefono" name="phone" placeholder="Ingresa tu número de teléfono">
            </div>

            <!-- Contraseña actual -->
            <div class="form-group">
                <label for="current-password">
                    <i class="uil uil-lock"></i> Contraseña actual
                </label>
                <input type="password" id="current-password" [(ngModel)]="currentPassword" name="currentPassword" placeholder="Ingresa tu contraseña actual">
            </div>

            <!-- Nueva contraseña -->
            <div class="form-group">
                <label for="new-password">
                    <i class="uil uil-key-skeleton"></i> Nueva contraseña
                </label>
                <input type="password" id="new-password" [(ngModel)]="newPassword" name="newPassword" placeholder="Ingresa tu nueva contraseña">
            </div>

            <!-- Confirmar nueva contraseña -->
            <div class="form-group">
                <label for="confirm-password">
                    <i class="uil uil-keyhole-circle"></i> Confirmar contraseña
                </label>
                <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirma tu nueva contraseña">
            </div>

            <button type="submit" class="save-btn">Guardar cambios</button>
        </form>
    </div>
    <button class="back-btn" (click)="goBack()">
        <i class="uil uil-arrow-left"></i> Regresar
    </button>
</div>
