<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <div class="app-header">
        <div class="header-left">
            <i class="uil uil-angle-left" (click)="goToSelector()"></i>
        </div>
        <h2>Configuración</h2>
    </div>
    <div class="app-content">
        <!-- Bloque de perfil -->
        <div class="profile-section">
            <div class="profile-info">
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
              <div class="profile-details">
                <div class="name-and-badge">
                  <h3>{{ user.nombre }}</h3>
                </div>
                <p>{{ user.email }}</p>
              </div>
            </div>
          </div>          
        <!-- Bloque de ajustes generales -->
        <div class="settings-section">
            <h3>General</h3>
            <div class="setting-item">
                <i class="uil uil-palette"></i>
                <span>Modo oscuro</span>
                <input type="checkbox">
            </div>
        </div>
        <!-- Bloque de privacidad -->
        <div class="settings-section">
            <h3>Privacidad</h3>
            <div class="setting-item"(click)="goToChangePassword()">
                <i class="uil uil-user"></i>
                <span>Gestionar cuenta</span>
                <i class="uil uil-angle-right"></i>
            </div>
        </div>
        <!-- Botón de cerrar sesión -->
        <div class="logout-section">
            <button class="logout-btn" (click)="goToLogin()">Cerrar sesión</button>
        </div>
    </div>
</div>