<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <div class="container">
        <div class="container-form">
            <form class="sign-in">
                <h2>registrarse</h2>
                <div class="social-networks">
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-instagram"></i>
                    <i class="uil uil-youtube"></i>
                    <i class="uil uil-whatsapp"></i>
                </div>
                <span>Use su correo para registrarse</span>
                <div class="container-input">
                    <i class="uil uil-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="container-input">
                    <i class="uil uil-envelope"></i>
                    <input type="email" placeholder="Email">
                </div>
                <div class="container-input">
                    <i class="uil uil-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <div class="container-input">
                    <i class="uil uil-map-marker"></i>
                    <input type="text" placeholder="Location">
                </div>
                <div class="container-btn">
                    <button class="button">REGISTRARSE</button>
                    <p>¿Ya tienes una cuenta?</p>
                    <button class="button">Ir a inicio de sesión<a href=""></a></button>
                </div>
            </form>
        </div>
    </div>
</div>