@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
}

:host {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* Asegúrate de que el componente no permita scroll */
}

.mobile-screen {
    width: 375px;
    height: 667px;
    /* Tamaño fijo para simular una pantalla móvil */
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/808/879/non_2x/yellow-orange-beehive-background-honeycomb-bees-hive-cells-pattern-bee-honey-shapes-geometric-seamless-texture-symbol-hexagon-hexagonal-raster-mosaic-cell-sign-or-icon-gradation-color-vector.jpg);
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* Impide scroll dentro del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.container {
    background-color: rgba(255, 255, 255, 0.322);
    border: 2px solid white;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.534);
    width: 280px; /* Aumenta el ancho */
    height: 500px; /* Aumenta la altura */
    padding: 20px; /* Añade un poco de espaciado interno */
    animation: boom 0.6s ease-out forwards; /* Animación boom */
}

@keyframes boom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container-form {
    width: 100%;
    overflow: hidden;
}

.container-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form h2 {
    font-size: 27px; /* Ajuste del tamaño del texto */
    margin-bottom: 20px;
    text-align: center;
}

.social-networks {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 25px;
}

.social-networks i {
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.container-form span {
    font-size: 12px;
    margin-bottom: 15px;
}

.container-input {
    width: 100%;
    max-width: 300px; /* Ajuste del ancho */
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #EEEEEE;
    border-radius: 2rem;
}

.container-input input {
    border: none;
    outline: none;
    width: 75%;
    height: 90%;
    background-color: inherit;
}

.container-form a {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}

.container-btn {
    display: flex;
    flex-direction: column; /* Botones y texto en columna */
    align-items: center;
    gap: 15px; /* Espaciado uniforme */
}

.container-btn p {
    margin: 0; /* Elimina márgenes adicionales */
    font-size: 12px;
    text-align: center;
}

.button {
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 175px; /* Limita el ancho del botón */
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #ffffff;
}