<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <div class="container" *ngIf="isLoaded; else loading">
        <div class="container-form">
            <form class="sign-up" (ngSubmit)="registrarse()">
                <h2>Registrarse en HoneyTech</h2>
                <div class="social-networks">
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-instagram"></i>
                    <i class="uil uil-youtube"></i>
                    <i class="uil uil-whatsapp"></i>
                </div>
                <div class="container-input">
                    <i class="uil uil-user"></i>
                    <input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" required>
                </div>
                <div class="container-input">
                    <i class="uil uil-envelope"></i>
                    <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="container-input">
                    <i class="uil uil-lock"></i>
                    <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
                </div>
                <div class="container-input">
                    <i class="uil uil-phone"></i>
                    <input [(ngModel)]="telefono" name="telefono" type="tel" placeholder="Número de teléfono" required>
                </div>
                <div class="container-input">
                    <i class="uil uil-map-marker-alt"></i>
                    <input [(ngModel)]="direccion" name="direccion" type="text" placeholder="Dirección" required>
                </div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <div class="container-btn">
                    <button class="button" type="submit">REGISTRARSE</button>
                </div>
                <div class="container-btn">
                    <button class="button" type="button" routerLink="/login">IR A INICIAR SESIÓN</button>
                </div>
                <p *ngIf="registrationSuccess" class="success-message">¡Ahora debe iniciar sesión!</p>
            </form>
        </div>
    </div>

    <ng-template #loading>
        <div class="loading-container">
            <div class="honeycomb">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-template>
</div>