@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
    color: black;
}

h2 {
    color: #000000;
}

.box-name{
    color: black;
}

* {
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Elimina cualquier tipo de scroll */
}


html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}



:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}



/*Formato de pantalla movil*/
.mobile-screen {
    position: fixed; /* Lo hace fijo para que ocupe toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background-color: #f0f0f0;
    border-radius: 0; /* Elimina bordes redondeados */
    box-shadow: none; /* Elimina cualquier sombra */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Elimina scroll */
}

/* Animación de slide-up con fade */
@keyframes slide-up-fade {
    0% {
        transform: translateY(30px);
        /* Empieza desplazado hacia abajo */
        opacity: 0;
        /* Invisible al inicio */
    }

    100% {
        transform: translateY(0);
        /* Posición original */
        opacity: 1;
        /* Completamente visible */
    }
}

.content {
    flex: 1;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    animation: slide-up-fade 0.5s ease-out;

}

.mini_container,
.back_button,
h2 {
    animation: slide-up-fade 0.5s ease-out;
    /* Aplica la animación a cada elemento */
    animation-delay: 0.2s;
    /* Retardo opcional para hacer que todos inicien en sincronía */
    animation-fill-mode: forwards;
    /* Asegura que mantengan su estado final */
    opacity: 0;

}

.mini_container {
    border-radius: 15px;
    color: rgb(153, 153, 153);
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.445);
}

.mini_container p {
    font-size: 25px;
    margin-top: 5px;
    color: #ffffff;
    /* Reduce la distancia entre el ícono y el texto */
}

.mini_container i {
    font-size: 45px;
    color: #ffffff;

}

.back_button {
    background-color: transparent;
    color: rgb(184, 184, 184);
    margin-right: 275px;
    height: 65px;
    border-radius: 15px;
    cursor: pointer;
}

.back_button p {
    font-size: 45px;
    padding-top: 7px;
    color: #ffffff;
}

.card{
    background: rgb(255,192,98);
background: linear-gradient(135deg, rgba(255,192,98,1) 0%, rgba(255,171,67,1) 35%, rgba(252,205,26,1) 100%);
    border-radius: 15px;
}

.card i{
    font-size: 45px;
}