<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <div class="content">
        <div class="info_containers">
            <h2 class="box-name">Caja {{ cajaNombre }}</h2> <!-- Ahora muestra el nombre real de la caja -->
            <div class="dashboard">
                <div class="card" (click)="goToTemp()">
                    <h2>Temperatura</h2>
                    <i class="uil uil-temperature-half"></i>
                </div>
                <div class="card" (click)="goToHumidity()">
                    <h2>Humedad</h2>
                    <i class="uil uil-tear"></i>
                </div>
                <div class="card" (click)="goToWeight()">
                    <h2>Peso</h2>
                    <i class="uil uil-balance-scale"></i>
                </div>
                <div class="card" (click)="goToCam()">
                    <h2>Cámaras</h2>
                    <i class="uil uil-camera"></i>
                </div>
            </div>
            <div class="back_button">
                <p><i class="uil uil-angle-left" (click)="goToSelector()"></i></p>
            </div>
        </div>
    </div>
</div>
