<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <!-- Aqui va todo el contenido de cada una de las secciones -->
    <div class="content">
        <div class="info_containers">
            <h2>Caja #</h2>
            <div class="sections">
                <div class="mini_container">
                    <i class="uil uil-temperature-half"></i>
                    <p>Temperatura</p>
                </div>
                <div class="mini_container">
                    <i class="uil uil-tear"></i>
                    <p>Humedad</p>
                </div>
                <div class="mini_container">
                    <i class="uil uil-balance-scale"></i>
                    <p>Peso</p>
                </div>
                <div class="mini_container">
                    <i class="uil uil-camera"></i>
                    <p>Cámaras</p>
                </div>
            </div>
            <div class="back_button">
                <p>Regresar</p>
            </div>
        </div>
    </div>