<div class="mobile-screen">
    <div class="content">
        <div class="info_containers">
            <div class="header-peso-info">
                <i class="uil uil-angle-left back_button" (click)="goToBoxInfo()"></i>
                <h2 class="peso-title">Peso</h2>
              </div>              
            <div class="sections">
                <div class="section">
                    <p class="section-title">Justo Ahora</p>
                    <div class="mini_container">
                        <canvas id="chart_ahora"></canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Semanal</p>
                    <div class="mini_container">
                        <canvas id="chart_semanal"></canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Mensual</p>
                    <div class="mini_container">
                        <canvas id="chart_mensual"></canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Anual</p>
                    <div class="mini_container">
                        <canvas id="chart_anual"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
