<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <!-- Aquí va todo el contenido de cada una de las secciones -->
    <div class="content">
        <div class="info_containers">
            <h2>Humedad</h2>
            <div class="sections">
                <div class="section">
                    <p class="section-title">Diaria</p>
                    <div class="mini_container"></div>
                </div>
                <div class="section">
                    <p class="section-title">Mensual</p>
                    <div class="mini_container"></div>
                </div>
                <div class="section">
                    <p class="section-title">Anual</p>
                    <div class="mini_container"></div>
                </div>
            </div>
            <div class="back_button">
                <p><i class="uil uil-angle-left"></i></p>
            </div>
        </div>
    </div>
</div>
