<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<div class="mobile-screen">
    <!-- Aquí va todo el contenido de cada una de las secciones -->
    <div class="content">
        <div class="info_containers">
            <div class="header-hum-info">
                <i class="uil uil-angle-left back_button" (click)="goToBoxInfo()"></i>
                <h2 class="hum-title">Humedad</h2>
              </div>              
            <div class="sections">
                <div class="section">
                    <p class="section-title">Justo Ahora</p>
                    <div class="mini_container">
                        <canvas id="chart_ahora"></canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Semanal</p>
                    <div class="mini_container">
                        <canvas id="chart_semanal">{{ humed_semanal }}</canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Mensual</p>
                    <div class="mini_container">
                        <canvas id="chart_mensual">{{ humed_mensual }}</canvas>
                    </div>
                </div>
                <div class="section">
                    <p class="section-title">Anual</p>
                    <div class="mini_container">
                        <canvas id="chart_anual">{{ humed_anual }}</canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
